@import url("../fonts/fonts.css");
@import url("../css/nullstyle.css");

* {
    font-family: 'Rubik', sans-serif;
    color:white;
}
.container {
    padding: 25px 110px;
}

.header {
    background: rgb(196,194,236);
    background: radial-gradient(circle, rgba(196,194,236,1) 0%, rgba(133,154,238,1) 15%, rgba(21,137,221,1) 62%, rgba(22,134,220,1) 65%, rgba(39,69,206,1) 93%, rgba(40,65,205,1) 98%);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 87px;
}

.logos {
    display: flex;
}

.logos [alt="МАИ"] {
    margin-left: 80px;
    box-shadow: black ;
}

.mai_descr {
    padding-top: 10px;
    margin-left: 32px;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: black 0 0 40px;
}

.navigation {
    height: 31px;
    color: #3b4754;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    display: flex;
    width: 650px;
    justify-content: space-between;
}

.navigation li {
    display: inline;
    list-style-type: none;
    margin-top: 30px;

}

.navigation li:last-child{
    margin-right: 0;
}

.navigation li a {
    text-shadow: black 0 0 30px;
}

.section {
    background: rgb(40, 38, 38) no-repeat center/100% url('../img/mai_square.jpg');
    background-blend-mode: overlay;
    height: 85.5%;
}

.section_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section_header {
    margin-top: 25px;
}

.section_subheader, .section_header, .section_partners{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
}

.section_subheader {
    text-align: left;
    font-size: 45px;
}

.section_pros li {
    margin-left: 20px;
    width: 550px;
    list-style-type: none;
    position: relative;
    margin-top: 40px;
    font-size: 30px;
}

.section_pros li::before {
    content: '•';
    left: -20px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.section_imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 800px;
}

.section_imgs figcaption {
    width: 400px;
    overflow: hidden;
    cursor: pointer;
}

.section_imgs img {
    margin-top: 20px;
    width: 90%;
    border-radius: 25px;
}

.section_partners {
    font-size: 45px;
}

.circles {
    margin-top: 24px;
    margin-left: 20px;
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.circle {
    overflow: hidden;
    margin-left: 7.5ex;
    text-align: center;
    background: white;
    border: 0.1875em solid black;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 15ex;
    width: 15ex;
}

.circle img {
    width: 75%;
    margin-top: 10%;
}
.circle img[alt='вуз'] {
    margin-top: 18%;
}

.circles_card {
    text-align: center;
}

.circle_descr {
    margin-top: 10px;
    width: 30ex;
}

.devider {
    box-shadow: #1d6ad6 0 2px 5px;
    height: 2px;
    width: 100%;
    background-color: rgb(200, 194, 194);
}

.carousel_main {
    box-shadow: #1d6ad6 0 0 10px;
    border-radius: 30px;
    width: 650px;
    height: 500px;
    background-color: gray;
    overflow: hidden;
    display: flex;
    position: relative;
}
.carousel_img{
    height: 100%;
}
.carousel_rects {
    display: flex;
    justify-content: space-around;
    width: 21%;
    position:absolute;
    bottom: 5%;
    left: 50%; 
    transform: translateX(-50%);
}

.carousel_rect {
    width: 55px;
    height: 7px;
    opacity: 0.8;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid rgb(155, 150, 150);
}

.carousel_rect:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

.carousel_main::before{
    content: "";
    cursor: pointer;
    position: absolute;
    width: 500px;
    height: 400px;
    transform: scale(0.15) rotate(90deg);
    top:13%;
    transition-duration: 1s;
    left:-34.5%;
    background: url("../img/arrow.png") no-repeat; 
}

.carousel_main::after{
    content: "";
    cursor: pointer;
    position: absolute;
    width: 500px;
    height: 400px;
    transform: scale(0.15) rotate(-90deg);
    top:13%;
    right:-34.5%;
    background: url("../img/arrow.png") no-repeat; 
}

.carousel_stroke {
    height: 10%;
    margin-top: -1px;
    padding-top: 2px;
    border-radius: 20px;
    background-color: white;
    border: 1px gray solid;
}

.carousel_header {
    color: black;
    text-align: right;
    margin-right: 18%;
    font-size: 40px;
    position: relative;
}

.carousel_header::before {
    content: "";
    color: black;
    position: absolute;
    width: 1200px;
    top:-288px;
    left:-521px;
    height: 600px;
    transform: scale(0.07);
    background: url("../img/dots.png") no-repeat;
}

.carousel_wrap {
    display: flex;
    width: 1790px;
}

.carousel_info {
    overflow: hidden;
    padding: 0px;
    padding-top: 0;
    margin-left: 8%;
    border-radius: 40px;
    width: 950px;
    border: 1px rgb(155, 155, 155) solid;
    background:  no-repeat center/105% url('../img/vector-seamless-pattern-with-transparent-liquid-bubbles-on-dark-blue-background-abstract-background-.png');
}

.carousel_pluses {
    margin-left: 17%;
}

.carousel_pluses li {
    position: relative;
    margin-top: 55px;
}

.carousel_pluses li:first-child {
    margin-top: 40px;
}

.carousel_pluses li p{
    text-align: justify;
    color: white;
    font-size: 25px;
}

.carousel_pluses li p::before {
    content: "";
    position: absolute;
    width: 510px;
    top:-202px;
    left:-260px;
    height: 460px;
    transform: scale(0.15);
    background: url("../img/checkmark-PhotoRoom-PhotoRoom\ \(1\).png") no-repeat;
}

.carousel_pluses li p::after {
    content: "";
    position: absolute;
    width: 660px;
    top:30px;
    left:1px;
    height: 1px;
    background-color:white;
}
